@mixin PaddedShadow()
    padding: 10px 20px
    box-shadow: 0 0 10px rgb(0 0 0 / 15%)
    border-radius: 10px

    overflow: hidden
    transition: .2s
    background: #ffffff
    h1
        margin: 10px 0
        maring-bottom: 0 !important
        font-weight: 600
        text-align: center
